@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Kavoon&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root{
    --couleur_fond: #ADD1E3;
    --couleur_deg_1:#FFEBD1;
    --couleur_deg_2:#B0D4E0;
    --couleur_bdr:#417590;
}

body {
    font-family: "Cairo", serif;
    margin: 0;
    padding: 0;
    background-color: var(--couleur_fond);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.event-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-content {
    padding: 15px;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
}

.event-date, .event-location {
    color: #555;
    font-size: 14px;
    margin-top: 5px;
}

.event-price {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #27ae60;
}

.error {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
