@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Kavoon&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root{
    --couleur_fond: #ADD1E3;
    --couleur_deg_1:#FFEBD1;
    --couleur_deg_2:#B0D4E0;
    --couleur_bdr:#417590;
    --couleur_bdr2:#0f232e;
    --couleur_hidden:#0f232e89;
    --couleur_text_blanc: white;

}
#root{
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
}
body, #root {
    overflow-x: hidden;
}
body {
    font-family: "Cairo", serif;
    margin: 0;
    padding: 0;
    background-color: var(--couleur_fond);
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
}
.principale_container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    justify-content: space-between;
    align-content: center;
}

.header .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background: linear-gradient(to bottom, var(--couleur_deg_1), var(--couleur_deg_2)); */
    /* border: 3px solid var(--couleur_bdr); */
    display: flex;
    justify-content:center;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.circle_color_dark {
    border: 3px solid var(--couleur_fond);
    background: linear-gradient(to bottom, var(--couleur_bdr), var(--couleur_deg_2));
}
.circle_color_light {
    border: 3px solid var(--couleur_bdr);
    background: linear-gradient(to bottom, var(--couleur_deg_1), var(--couleur_deg_2));
}
.header .circle:before {
    content:"";
    width: 20px;
    background-color: var(--couleur_text_blanc);
    height: 10px;
    position: absolute;
    left: 30px;
    top: 0.5em;
    border-radius: 50%;
    transform: rotate(-25deg);
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 1em;
}
.panier-container{
    position: absolute;
    right:1em;
}
.panier-container:hover img{
    transform: scale(1.05);
}
.them-container {
    position: absolute;
    left:1em; 
    cursor: pointer;
}
.them-container img {
    width: 50px !important;
}
.them-container:hover img{
    transform: scale(1.05);
}
.dark-theme {
    background-color: var(--couleur_bdr);
}
.light-theme {
    background-color: var(--couleur_fond);
}
.header img{
    width: 100px;
    transition: ease-in-out 0.2s;
}
.header h1{
    font-family: "Kavoon", serif;
    color: var(--couleur_text_blanc);
    letter-spacing: 2px;
    text-shadow: var(--couleur_bdr) 2px 1px;
    top: 5%;
    position: absolute;
}
.footer {
    background-image: url('/footer2.png'); /* Remplace par ton image */
    background-repeat: repeat-x; /* Répétition horizontale */
    background-size: auto 100%; /* Ajuste la hauteur à 100% du conteneur */
    height: 7em;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.footer_light{
    color: var(--couleur_deg_1);
    font-family: "Kavoon", serif;
    text-shadow:
    -2px -2px 0 var(--couleur_bdr),
     2px -2px 0 var(--couleur_bdr),
    -2px  2px 0 var(--couleur_bdr),
     2px  2px 0 var(--couleur_bdr),
    -3px  0px 0 var(--couleur_bdr),
     3px  0px 0 var(--couleur_bdr),
     0px -3px 0 var(--couleur_bdr),
     0px  3px 0 var(--couleur_bdr);
}
.footer_dark {
    color: var(--couleur_bdr);
    font-family: "Kavoon", serif;
    text-shadow:
    -2px -2px 0 var(--couleur_deg_1),
     2px -2px 0 var(--couleur_deg_1),
    -2px  2px 0 var(--couleur_deg_1),
     2px  2px 0 var(--couleur_deg_1),
    -3px  0px 0 var(--couleur_deg_1),
     3px  0px 0 var(--couleur_deg_1),
     0px -3px 0 var(--couleur_deg_1),
     0px  3px 0 var(--couleur_deg_1);
}
 .container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.container .lescarte{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em;
    overflow-x: hidden;
    max-width: 100%;
}

.event-card {
    background: linear-gradient(to bottom, var(--couleur_deg_1), var(--couleur_deg_2));
    border-radius: 10px;
    height: 15em;
    width: 20em;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow:3px 3px 5px var(--couleur_bdr);
    margin: 1em;
    display: flex;
    position: relative;
}
.event_card_dark {
    box-shadow:3px 3px 5px var(--couleur_fond);
}
.event_card_light {
    box-shadow:3px 3px 5px var(--couleur_bdr);
}
.event-card.hidden{
    pointer-events: none;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    width: 40%;
    object-fit: cover;
}

.event-content {
    padding: 0.5em;
    position: relative;
}

.event-title {
    font-size: 1em;
    font-family: "Overlock", serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-date, .event-location {
    color: var(--couleur_bdr);
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.event-location img{
    width: 2em;

}
.event-price img{
    width: auto;
    height: 1em;
}
.event-description{
    font-size: 0.8em;
}
.event-price {
    position: absolute;
    font-weight: bold;
    bottom: 0.5em;
    right: 1em;
    display: flex;
    color: var(--couleur_bdr);
    text-shadow:var(--couleur_bdr2) 1px 1px 1px ;
    font-size: 1.3em;
    align-items: center;

}

.plusplace {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--couleur_hidden);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.plusplace h2 {
    transform: rotate(-45deg);
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.7);
    position: relative;
    mix-blend-mode: screen;
    filter: drop-shadow(0 0 5px black);
}
/*
.error {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
} */
.stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Empêche d'interagir avec les étoiles */
    z-index: -1; /* Derrière tout le contenu */
}

@keyframes twinkle {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px white;
    animation: twinkle linear infinite alternate;
}
.container .filters {
    margin-top: 1em;

}
.container .filters select ,.container .filters button {
    padding:0.2em;
    border-radius: 10px;
    margin-left: 1em;
    background: linear-gradient(to bottom, var(--couleur_deg_1), var(--couleur_deg_2));
    border: var(--couleur_text_blanc) 2px solid;
    box-shadow: var(--couleur_bdr) 2px 2px 5px;
}
.container .filters select option {
    background: var(--couleur_deg_1);
}

